#what .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: center;
}

/* Position icon */
#what .items .item i {
  align-self: center;
  margin-bottom: 0;
}

.container-prices {
  display: flex;
  text-align: left;
  height: auto;
  width: auto;
}

.list {
  list-style: none;
}

/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #showcase .showcase-content {
    top: 124px;
  }

  #prices {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .container-prices {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #prices li {
    font-size: 14px;
    list-style: none;
  }

  #prices p {
    font-size: 14px;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact .contact-img {
    display: none;
  }

  .m-heading {
    font-size: 1.5rem;
  }

  .contact-form {
    width: 100%;
  }

  hr {
    display: block;
    border: 0.5px dotted #009846;
    margin: 15px 0 30px;
  }

  .l-heading {
    font-size: 20px;
  }

  .lead {
    font-size: 15px;
  }

  .btn {
    padding: 0.5rem 1rem;
    margin-bottom: 140px;
  }

  .btn-contact {
    margin-bottom: 45px;
  }

  p {
    font-size: 15px;
  }

  i {
    margin-bottom: 20px;
  }
}

@media (max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    height: 100vh;
    top: 124px;
  }

  .l-heading {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}
